.layout {
  display: flex;
  min-height: 100vh;
  overflow: hidden !important;
}

.mainContent {
  flex: 1;
  margin-left: 220px;
  transition: margin-left 0.3s ease;
}

.sidebarCollapsed .mainContent {
  margin-left: 60px;
}

.content {
  padding: 20px;
}

@media (max-width: 768px) {
  .mainContent {
    flex: 1;
    margin-left: 0px;
    transition: margin-left 0.3s ease;
  }
}