.layout {
  display: flex;
  min-height: 100vh;
  overflow: hidden !important;
}

.mainContent {
  flex: 1;
  margin-left: 220px;
  transition: margin-left 0.3s ease;
}

.sidebarCollapsed .mainContent {
  margin-left: 60px;
}

.content {
  padding: 20px;
  transition: all 0.3s ease;
}

/* ✅ Cuando estás en la página de Orden de Servicio */
.fullscreenContent {
  padding: 0;
  margin: 0;
}

/* ✅ Responsive */
@media (max-width: 768px) {
  .mainContent {
    flex: 1;
    margin-left: 0px;
    transition: margin-left 0.3s ease;
  }
}
