@import url(https://fonts.googleapis.com/css?family=Montserrat);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: Montserrat, Arial, sans-serif;
  background: linear-gradient(rgba(196, 102, 0, 0.6), rgba(155, 89, 182, 0.6)),
    linear-gradient(rgba(196, 102, 0, 0.6), rgba(155, 89, 182, 0.6));
  background-attachment: fixed;
  padding: 30px;
  padding-bottom: 60px; /* ✅ añade espacio real al final */
}

form.msform {
  width: 100%;
  max-width: 900px;
  margin: auto;
  background: #fff;
  padding: 25px 30px;
  border-radius: 3px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);
  margin-bottom: 30px;
}

h1 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 22px;
  color: #333;
}
