.button,
.actionButton {
  background: #27ae60 !important;
  color: #fff;
  border: none;
  border-radius: 1px;
  padding: 12px 18px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 20px;
}

.button:hover,
.button:focus,
.actionButton:hover,
.actionButton:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #27ae60 !important;
}
