.input-label,
label {
  font-size: 13px;
  color: #333;
  margin-bottom: 4px;
}

.input-field,
textarea.input-field,
input.input-field {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2c3e50;
  font-size: 13px;
}

textarea {
  min-height: 70px;
  resize: vertical;
}

.input-field:focus {
  border-color: #4285f4;
  box-shadow: 0 0 3px rgba(66, 133, 244, 0.4);
  outline: none;
}
