@import url('https://fonts.googleapis.com/css?family=Montserrat'); 

.container {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.path {
  stroke: #ffffff;
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}

.container h2 {
  display: none;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

/* Contenedor general del select y grupo */
.inputGroup {
  display: flex;
  align-items: stretch;
  gap: 0px;
  height: 40px;
  padding-bottom: 10px;
  max-width: 100%;
  /* importante mantener horizontal en desktop */
}

/* Botón de generar código */
.generateButton {
  background-color: #1d4ed8;
  color: white;
  border: 1px solid #1d4ed8;
  min-width: 100px;
  font-family: 'Montserrat', sans-serif;
  border-right: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 0 16px;
  font-size: 0.875rem;
  cursor: pointer;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.generateComponent {
  display: flex;
  height: 40px;
  padding-bottom: 10px;
  max-width: 100%;
  flex-wrap: nowrap; /* importante mantener horizontal en desktop */
}

.generateButton:hover {
  background-color: #1d43aa;
}

.generateButton.loading {
  cursor: not-allowed;
}

.generateButton.disabled {
  background-color: #f0f0f0;
  border-color: #f0f0f0;
  color: #b0b0b0;
  cursor: not-allowed;
}

.selectUsos {
  width: 120px;
  height: 40px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #fff;
  font-size: 1rem;
  margin-bottom: 10px;
  margin-right: 3px;
}

.helperText {
  margin-top: 1rem;
  font-size: 0.875rem;
  color: #6b7280;
  text-align: center;
}

.icon {
  width: 18px;
  height: 18px;
}

.fadeIn {
  animation: fadeIn 0.4s ease-out forwards;
}

.fadeText {
  display: inline-block;
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.inputUsos {
  width: 120px;
  height: 25px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-right: 10px;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }
}

.successAnimation {
  animation: pulse 0.6s ease forwards;
}

/* ✅ SOLO APLICA EN RESPONSIVE */
@media (max-width: 480px) {
  .container{
    width: 100%;
    max-width: 420px;
    padding: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .inputGroup{
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    gap: 0px;
    max-width: 100%;
  }

  .container h2 {
    display: flex;
  }

  .generateComponent {
    display: flex;
    height: 40px;
    padding-bottom: 10px;
    max-width: 100%;
  }
}
