@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  font-family: 'Montserrat', sans-serif;
}

.msform {
  width: 400px;
  margin: 50px auto;
  text-align: center;
  position: relative;
}

.msform fieldset {
  background: white;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 80%;
  margin: 0 10%;
  position: relative;
}

.msform fieldset:not(:first-of-type) {
  display: none;
}

.msform input {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: #2C3E50;
  font-size: 13px;
}

.actionButton {
  width: 100px;
  background: #27AE60;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px;
  margin: 10px 5px;
  font-size: 14px;
  text-decoration: none;
}

.actionButton:hover,
.actionButton:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}

.fsTitle {
  font-size: 15px;
  text-transform: uppercase;
  color: #2C3E50;
  margin-bottom: 10px;
}

.fsSubtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}
