.loginContainer {
  display: flex;
  flex-direction: column;
  /*justify-content: center; /* centra verticalmente */
  align-items: center;     /* centra horizontalmente */
  height: 100vh;           /* toma toda la altura del viewport */
  text-align: center;
}

.linkButton {
  margin-top: 10px;
  background-color: #3498db;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.linkButton:hover {
  background-color: #2980b9;
}
