.input {
    flex: 1;
    padding: 0 12px;
    font-size: 0.875rem;
    background-color: #f9fafb;
    border: 1px solid #d1d5db;
    border-left: none;
    border-right: none;
    color: #6b7280;
    outline: none;
    font-family: 'Montserrat', sans-serif;
  }
  